.artwork div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.artwork img {
    width: 300px;
    transition: transform .4s;
    
}

.artwork img:hover {
    -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Safari 3-8 */
  transform: scale(1.3); 
}


h2 {
    margin-bottom: 30px;
    margin-top: 50px;
    width: 90%;
    text-align: center;
}




