.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: gainsboro;
    padding: 10px 50px;
    border-radius: 25px;
    
    
}

.card img {
    width: 300px;
}

.card p {
    width: 400px;
    text-align: center;
    font-size: 20px;
   
}


.container {
    background-image: url(../img/mosaic2.png);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}