.navBar {
    padding: 20px 0px 20px 50px;
    display: flex;
    align-items:  center; 
    justify-content: space-between;
    background-color: white;
}

.navBar nav {
    text-align: right;
}



.navBar li {
    margin-left: 30px;
    list-style: none;
    display: inline;
    font-weight: bold;
}

.navBar li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.hidden {
    visibility: hidden;
}

@media screen and (max-width: 1000px) {
    .navBar {
        padding-right: 50px;
    }
}

@media screen and (max-width: 800px) {
    .navBar li {
        visibility: hidden;
    }

    .hidden {
        visibility: visible;
    
    }
}
